@import "tailwindcss";

@theme {
    --color-background: #a87653;
    --color-foreground: black;
    --color-card: hsl(20 14.3% 4.1%);
    --color-card-foreground: hsl(60 9.1% 97.8%);
    --color-popover: hsl(20 14.3% 4.1%);
    --color-popover-foreground: hsl(60 9.1% 97.8%);
    --color-primary: #622519;
    --color-primary-foreground: #f3f2c9;
    --color-secondary: hsl(12 6.5% 15.1%);
    --color-secondary-foreground: hsl(60 9.1% 97.8%);
    --color-muted: hsl(12 6.5% 15.1%);
    --color-muted-foreground: hsl(24 5.4% 63.9%);
    --color-accent: hsl(12 6.5% 15.1%);
    --color-accent-foreground: hsl(60 9.1% 97.8%);
    --color-destructive: hsl(0 72.2% 50.6%);
    --color-destructive-foreground: hsl(60 9.1% 97.8%);
    --color-border: hsl(12 6.5% 20%);
    --color-input: #a07622;
    --color-ring: #62615f;

    --radius: 0.5rem;
}

:root {
    @apply font-serif text-foreground;

    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
